@model SchoolSystem.Models.classs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>classs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.classname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
